@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Oswald:wght@200;400;500&display=swap");

// VARS
$nav-height: 100px;
$main-height: calc(100% - $nav-height);
$primary-color: #90ff00;
$secondary-color: yellow;
$tertiary-color: lime;
$text-main-color: #8e8e8e;
$bg1-color: #242424;
$bg2-color: #1a1a1a;
$bg3-color: #151515;
$bg4-color: #2d1c3c;
$bg5-color: #1e2a0f;
$border1-color: #4e4e4e;
$border2-color: #54811a;
$border-radius: 8px;

body,
html {
  height: 100%;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  color: $primary-color;
  background-color: $bg1-color;
}

#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  height: 100%;
  text-align: center;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
  &:hover {
    color: $secondary-color;
  }
  &.active {
    // color: $text-main-color;
    padding-bottom: 2px;
    border-bottom: 1px solid $border2-color;
  }
}

button {
  border-radius: $border-radius;
  border: 1px solid #646cff;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: $bg4-color;
  cursor: pointer;
  transition: border-color 0.25s;
  &:hover {
    background-color: #38006a;
  }
  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

input {
  border-radius: $border-radius;
  padding: 0.6em 1.2em;
  font-size: 1rem;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

// .ChatApp {
//   // overflow: hidden;
//   // width: 100%;
//   height: 100%;
//   // position: relative;
//   display: flex;
// }

nav {
  width: 100%;
  height: $nav-height;
  // border-bottom: 1px solid $border2-color;
  background-image: linear-gradient(180deg, transparent, $bg3-color);
  p.site-jm {
    font-family: "Oswald", sans-serif;
    font-size: 30px;
    margin: 0px;
    padding: 8px 0px;
  }
  // ul {
  //   display: flex;
  //   justify-content: center;
  //   padding: 0;
  //   margin: 8px 0px;
  //   li {
  //     list-style: none;
  //     padding-left: 16px;

  //     &:first-child {
  //       padding-left: 0;
  //     }
  //   }
  // }
  a {
    margin-left: 16px;

    &#Home {
      margin-left: 0px;
    }
  }
}

main {
  display: flex;
  height: $main-height;
  // overflow-x: hidden;
}

section.side-bar {
  background-color: $bg3-color;
  border-right: 1px solid $border1-color;
  width: 250px;

  button {
    margin-top: 48px;
  }

  ul.chat-history {
    padding: 0 32px;
    li {
      padding: 16px;
      list-style: none;
      border-bottom: 1px solid $border2-color;
      cursor: pointer;
      &:hover {
        background-color: $bg5-color;
      }
    }
  }
}

section.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;

  header {
    margin-bottom: auto !important;
    h1 {
      font-family: "Kaushan Script", cursive;
    }
  }

  .current-title {
    font-weight: 800;
    color: $secondary-color;
  }
  // .chat-box {
  //   border: 1px solid lime;
  //   max-height: 400px;
  //   overflow: scroll;
  // }

  ul.feed {
    display: flex;
    flex-direction: column;
    padding: 0 24px;
    li {
      // display: block;
      border: 1px solid lime;
      background-color: $bg2-color;
      width: 60%;
      list-style: none;
      margin-bottom: 20px;
      padding: 10px;
      text-align: left;
      border-radius: $border-radius;
      box-shadow: 10px 5px 5px $bg2-color;

      &.assistant {
        align-self: flex-end;

        p.role {
          text-align: right;
        }
      }
    }
  }

  .input-container {
    input {
      width: 60%;
    }
    .info {
      color: $tertiary-color;
      font-size: 0.8rem;
    }
    button {
      margin-left: 16px;
    }
  }
}

div.homepage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  section {
    border: 1px solid $border1-color;
    border-radius: $border-radius;
    box-sizing: border-box;
    width: 100%;
    background-color: $bg3-color;
    padding: 16px;
    margin-top: 32px;
  }

  @media screen and (min-width: 767px) {
    section {
      width: 480px;
    }
  }

  .home-logo {
    // svg {
    //   width: 20px;
    //   height: 20px;
    // }
    // #logo {
    //   height: 20px;
    //   width: 20px;
    // }
  }

  ul.links {
    margin-top: 50px;
    padding: 0;
    display: flex;
    li {
      display: flex;
      &:first-child {
        margin-right: 20px;
      }
    }
  }
}

div.error-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  section {
    width: 100%;
    padding: 16px;
    margin-top: 32px;
  }

  @media screen and (min-width: 767px) {
    section {
      width: 480px;
    }
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
